.register-form{
    width: 680px;
    margin: auto;
}

.register-form_inner {
        display: flex;
        justify-content: center;       
    }

.register-form__form {
    width: 10vw;
    border-radius: 8px;
    background-color: #FDFEFE;
    justify-content: center;
}

.register-form__group {
    margin-bottom: 32px;
}

.register-form__label {
    display: block;
    margin-bottom: 8px;
}

.register-form__input {
    display: block;
    padding: 8px 12px;
    width: 820px;
    font-family: serif;
    
}

.register-form__error-message {
    color: red;
}


@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .login-form {
        width: 45%;
    }
}


@media screen and (min-width: 768px) and (max-width: 850px) {
    .login-form {
        width: 80%;
    }

    .register-form__input {
        width: 100%;
    }
}